# Visual Studio
.vs/
out/

# Build artifacts
*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.ninja
*.vcxproj
*.vcxproj.filters
*.sln

# IDE
*.user
*.suo
*.userosscache
*.sln.docstates

# Dependencies & Pre-compiled binaries
external/
modules/
